doctype html
html(data-color-mode="dark" data-dark-theme="dark")
    head
        title=title
        link(href="https://unpkg.com/@primer/css@^18.0.2/dist/primer.css" rel="stylesheet")
        link(href="/app.css" rel="stylesheet")
        script(src='/build/components.js' type="module" async defered)
    body
        block body
            .container-lg.py-3
                block content
                    .Layout
                        .Layout-sidebar
                            block sidebar
                        .Layout-main
                            block main